@{Layout = "_Layout";}
@{ var skills = (List<VPM.Models.mSkills>)ViewBag.skills;}
@{ var countrys = (List<VPM.Models.mCountry>)ViewBag.countrys;}
@{ var a = (VPM.Models.mArtisan)ViewBag.artisan;}
@*bs multiselect*@

<link href="~/assets/libs/boostrapmultiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/assets/libs/boostrapmultiselect/js/bootstrap-multiselect.js"></script>

@*alidate*@
<script src="~/assets/libs/validate/jquery_validator/jquery.validate.min.js"></script>


@*alerts*@
<link href="~/assets/libs/jconfirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/assets/libs/jconfirm/jquery-confirm.min.js"></script>

@*busy load*@
<script src="~/assets/libs/busyload/bl.js"></script>
<link href="~/assets/libs/busyload/bl.css" rel="stylesheet" />




<style>
    .glyphicon {
        margin-right: 10px;
    }



    .panel-body table tr td {
        padding-left: 15px
    }

    .panel-body .table {
        margin-bottom: 0px;
    }

    label span {
        color: red;
    }
</style>

@*bar rating*@
<script src="~/assets/libs/rating/jquery.barrating.min.js"></script>
<link href="~/assets/libs/rating/themes/fontawesome-stars.css" rel="stylesheet" />

@*chosen*@
<link href="~/assets/libs/chosen/chosen.css" rel="stylesheet" />
<script src="~/assets/libs/chosen/chosen.jquery.min.js"></script>

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card bshadow">
                <div class="card-header _active">Picture</div>
                <div class="card-body">
                    <center>
                        @if (String.IsNullOrEmpty(a.image))
                        {
                            <img id="pimg" src="@a.image" alt="image" style="height:auto;width:100%;object-fit:cover;cursor:pointer;" />
                        }
                        else
                        {
                            <img id="pimg" src="~/assets/img/user-profile.png" style="height:auto;width:100%;object-fit:cover;cursor:pointer;" />
                        }
                    </center>
                    <br />
                    <select class="brating" disabled>
                        <option selected="@(a.getRating() == 1)">1</option>
                        <option selected="@(a.getRating() == 2)">2</option>
                        <option selected="@(a.getRating() == 3)">2</option>
                        <option selected="@(a.getRating() == 4)">4</option>
                        <option selected="@(a.getRating() == 5)">5</option>
                    </select>
                </div>
            </div>
            Account is currently: @(a.registered ? "enabled" : "disabled")
            <br />
            @if (a.registered)
            {
                <a href="/Admin/disableAccount?aid=@a._id" class="btn btn-danger btn-block">Disable Account</a>
            }
            else
            {
                <a href="/Admin/enableAccount?aid=@a._id" class="btn btn-success btn-block">Enable Account</a>
            }
        </div>
        <div class="col-md-9">
            <div class="card bshadow">
                <div class="card-header _active">Artisans' Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Name</label>
                                <br />
                                <input type="text" readonly class="form-control" value="@a.name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Surname</label><br />
                                <input type="text" readonly class="form-control" value="@a.surname" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Mobile</label><br />
                                <input type="text" class="form-control" value="@a.mobile" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Email</label><br />
                                <label>@a.email</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Employment Type</label><br />
                                <input type="text" readonly value="@a.employmentType" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Rate/Hour</label>
                                <br />
                                <label>@a.hourlyRate</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="black">Street Address</label>
                                <br />
                                <small>@a.streetAddress</small>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee1 Name</label>
                                <input type="text" readonly value="@a.referees[0].refname" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee1 Mobile</label>
                                <input type="text" class="form-control" readonly value="@a.referees[0].refmobile" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee1 Email </label><br />
                                <input type="text" readonly class="form-control" value="@a.referees[0].refemail" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee2 Name </label>
                                <input type="text" readonly class="form-control" value="@a.referees[1].refname" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee2 Mobile </label>
                                <input type="text" readonly class="form-control" value="@a.referees[1].refmobile" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="black">Referee2 Email </label>
                                <input type="text" value="@a.referees[1].refemail" readonly class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 offset-3">
            <br />
            <br />
            <div class="card bshadow">
                <div class="card-header _active">Skills</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (a.skills_list != null && a.skills_list.Count > 0)
                            {

                                <select multiple disabled class="chosen">
                                    @foreach (var s in skills)
                                    {
                                        if (a.skills_list.Contains(s._id))
                                        {
                                            <option selected>@s.skill</option>
                                        }

                                    }
                                </select>

                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#skills_select').multiselect();
    });

    $(".brating").barrating({
        theme: 'fontawesome-stars',
        readonly: true
    });
    $(".chosen").chosen({
        width: "100%"
    });
</script>


