@{ Layout = "_Layout";}
@{var en = (VPM.Models.mEnquiry)ViewBag.enq;}

<style>
    html table{
        font-size:12px!important;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <h3>View Enquiry</h3>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td>@en.name</td>
                <td>@en.date.ToString("d MMM yyyy")</td>
                <td>@en.email</td>
                <td>@en.mobile</td>
            </tr>
            <tr>
                <td colspan="4">@en.enquiry</td>
            </tr>


            <tr>
                <td colspan="4">property :<a href="/Admin/ViewProperty?pid=@en.property_id">View Property</a></td>
            </tr>

            <tr>
                <td>
                    <form method="post" action="/Admin/setEnquiryStatus" class="form-inline">
                        status:
                        <select class="form-control" name="enqStatus">
                            <option value="open" selected="@(en.getStatus()=="open")">Open</option>
                            <option value="closed" selected="@(en.getStatus()=="closed")">Closed</option>
                        </select>
                        <input type="hidden" name="eid" id="eid" value="@en._id" />&nbsp;
                        <button class="btn btn-primary" type="submit">Save Status</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>